body {
  margin: 0;
  padding: 0;
}
/* Start navbar */
.navbarGroup {
  position: relative;
}
.navbarGroup::after {
  content: "";
  position: absolute;
  width: 121.5%;
  top: 26%;
  padding-top: 35px;
  border-bottom: 4px solid #08080894;
}
.navbarG1 {
  display: flex;
  justify-content: space-between;
  width: 111%;
  position: absolute;
  top: 0.1%;
  background-color: #08080894;
  color: white;
  padding: 2% 0;
  padding: 3% 5% 2% 5%;
}

.navbarG1 .Link1 li,
.navbarG1 .Link2 li {
  list-style: none;
  text-transform: uppercase;
  font-size: 16px;
  padding: 9% 0 0 0;
}
.navbarG1 .Link1,
.navbarG1 .Link2 {
  display: flex;
  margin: 0 8%;
}
.navbarG1 .Link1 li,
.navbarG1 .Link2 li {
  margin-left: 3%;
  margin-right: 15%;
}
.LogoNav {
  margin-top: -4%;
  margin-left: -10%;
}
/* End navbar */

/* Start content */
.content {
  position: relative;
  width: 121.5%;
}
.content h1 {
  position: absolute;
  top: 2%;
  margin: 0 35%;
  white-space: nowrap;
  text-transform: uppercase;
  color: #755143;
  font-size: 20px;
}
.content .textContent {
  position: absolute;
  top: 3%;
  margin: 0 33%;
}
.content .textContent h2 {
  font-weight: normal;
  color: #fd7e00;
  white-space: nowrap;
  font-family: "Beau Rivage", cursive;
  font-size: 30px;
  word-spacing: 3px;
  font-weight: 500;
  position: relative;
}
.content .textContent h2::after {
  content: "";
  position: absolute;
  left: -18%;
  width: 140%;
  top: 112%;
  border-bottom: 3px double #b9b8b8;
}
.content p {
  position: absolute;
  top: 13%;
  text-align: center;
  width: 45%;
  margin-left: 28%;
  margin-top: 2%;
  word-spacing: 2px;
  font-weight: normal;
}
.titleContent {
  position: absolute;
  top: 115%;
  margin-left: 46%;
  white-space: nowrap;
}
.titleContent h4 {
  position: relative;
  text-transform: uppercase;
  color: #fd7e00;
  font-size: 15px;
  font-weight: 700;
}
.titleContent h4::after {
  position: absolute;
  content: "";
  position: absolute;
  right: 120%;
  width: 80%;
  top: 50%;
  border-bottom: 3px double #b9b8b8;
}

.titleContent h4::before {
  position: absolute;
  content: "";
  position: absolute;
  right: -95%;
  width: 80%;
  top: 50%;
  border-bottom: 3px double #b9b8b8;
}
.boxContent {
  position: absolute;
  top: 125%;
  display: grid;
  grid-template-columns: 33% 33% 33%;
  margin-left: 10%;
}
.boxContent .box1,
.boxContent .box3 {
  background-color: #f0e3c3c2;
  width: 70%;
  padding: 8% 8% 12% 8%;
  height: 80%;
  text-align: center;
  position: relative;
}
.boxContent .box2 {
  background-color: #686350ea;
  width: 70%;
  padding: 8% 8% 12% 8%;
  height: 80%;
  text-align: center;
  position: relative;
  color: white;
}
.boxContent img {
  margin-top: 10%;
}
.boxContent .box1::after,
.boxContent .box2::after,
.boxContent .box3::after {
  position: absolute;
  content: "";
  position: absolute;
  right: 0.1%;
  width: 100%;
  top: 98%;
  border-bottom: 10px solid #8b8a8a;
}
.boxContent .box1 h1,
.boxContent .box2 h1 {
  margin-left: 4%;
}
.boxContent .box2 h1 {
  color: #e7dfcb;
  text-transform: uppercase;
  font-size: 23px;
  position: relative;
}
.boxContent .box3 h1 {
  margin-left: 1%;
}
.boxContent .box3 h1,
.boxContent .box1 h1 {
  text-transform: uppercase;
  font-size: 23px;
  color: #9f8176;
  position: relative;
}
.boxContent .box1 h1::after,
.boxContent .box2 h1::after {
  position: absolute;
  content: "";
  position: absolute;
  right: 2%;
  width: 100%;
  top: 140%;
  border-bottom: 3px double #b9b8b8;
}
.boxContent .box3 h1::after {
  position: absolute;
  content: "";
  position: absolute;
  right: 1%;
  width: 100%;
  top: 140%;
  border-bottom: 3px double #b9b8b8;
}

.boxContent .box2 a {
  margin-left: 15%;
  text-transform: uppercase;
  font-size: 15px;
  color: #e7dfcb;
  font-weight: 600;
  text-decoration: none;
}
.boxContent .box3 a {
  margin-left: 15%;
  text-transform: uppercase;
  font-size: 15px;
  color: #9f8176;
  font-weight: 600;
  text-decoration: none;
}
.boxContent .box1 a {
  margin-left: -11%;
  text-transform: uppercase;
  font-size: 15px;
  color: #9f8176;
  font-weight: 600;
  text-decoration: none;
}

.boxContent .box1 p,
.boxContent .box2 p,
.boxContent .box3 p {
  width: 100%;
  line-height: 1.6;
  word-spacing: 3px;
  position: relative;
}
.boxContent .box1 p::after,
.boxContent .box2 p::after,
.boxContent .box3 p::after {
  position: absolute;
  content: "";
  position: absolute;
  left: 15%;
  width: 70%;
  top: 160%;
  border-bottom: 5px solid #b9b8b8;
}
.photoGalerie img {
  margin-top: 5%;
  width: 100%;
}
.photoGalerie {
  position: relative;
  width: 123%;
  margin-top: -5px;
}

.photoGalerie .titleGalerie {
  position: absolute;
  top: 20%;
  margin-left: 39%;
  white-space: nowrap;
}
.photoGalerie .titleGalerie h4 {
  position: relative;
  text-transform: uppercase;
  color: #866b61;
  font-size: 20px;
}
.photoGalerie .titleGalerie h4::after {
  position: absolute;
  content: "";
  position: absolute;
  right: 120%;
  width: 80%;
  top: 50%;
  border-bottom: 3px double #b9b8b8;
}
.photoGalerie .titleGalerie h4::before {
  position: absolute;
  content: "";
  position: absolute;
  right: -95%;
  width: 80%;
  top: 50%;
  border-bottom: 3px double #b9b8b8;
}
.galerieBox {
  position: absolute;
  top: 32%;
  display: grid;
  grid-template-columns: 30% 30% 30% 30% 30% 30%;
}
.galerieBox .directionGalerie:nth-child(1) {
  width: 10%;
  margin-top: 30%;
  margin-left: 70%;
}
.galerieBox .GalerieImg {
  width: 80%;
  background-color: white;
  padding: 4%;
}
.galerieBox .directionGalerie:nth-last-child(1) {
  width: 10%;
  margin-top: 30%;
  margin-right: 60%;
}
.GalerieImgGroup {
  position: relative;
}

.GalerieImgGroup .GalerieImgG1 {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.582);
  top: 10%;
  width: 40%;
  left: 19%;
  padding: 8%;
}
/* End content */
/* Start footer */
.footer {
  position: relative;
}
.footer .FooterEnd {
  position: absolute;
  top: 90%;
  background-color: #3a312f;
  width: 123%;
  padding: 3% 0;
}
.footer .bgFooter {
  width: 123%;
  margin-top: -8%;
  height: 360px;
}
.footer .FooterBox {
  position: absolute;
  top: -13%;
  display: flex;
}
.footer .FooterBox .footerBox1 {
  color: #a39980;
  margin-left: 20%;
}
.footer .FooterBox .footerBox1 h1 {
  text-transform: uppercase;
  position: relative;
  font-weight: normal;
  font-size: 25px;
}
.footer .FooterBox .footerBox1 h1::after {
  position: absolute;
  content: "";
  position: absolute;
  left: -1%;
  width: 90%;
  top: 140%;
  border-bottom: 3px double #b9b8b8;
}
.footer .FooterBox .footerBox1 p {
  margin-top: 7%;
  width: 70%;
}
.footer .FooterBox .footerBox1 .form-group {
  display: inline-block;
}
.footer .FooterBox .footerBox1 input {
  padding: 2%;
}
.footer .FooterBox .footerBox1 button {
  margin-left: -10%;
  color: white;
  padding: 4px;
  width: 20%;
  background-color: #ff9a00;
  border: 1px solid #ff9a00;
}
.footer .FooterBox .footerBox2 {
  color: #a39980;
  margin-right: 15%;
}
.footer .FooterBox .footerBox2 h1 {
  text-transform: uppercase;
  position: relative;
  font-weight: normal;
  font-size: 25px;
  white-space: nowrap;
}
.footer .FooterBox .footerBox2 h1::after {
  position: absolute;
  content: "";
  position: absolute;
  left: -1%;
  width: 280%;
  top: 140%;
  border-bottom: 3px double #b9b8b8;
}
.footer .FooterBox .footerBox2 .footerBlock1 {
  display: flex;
  margin-left: 1%;
}
.footer .FooterBox .footerBox2 .footerBlock1 img {
  width: 10%;
  height: 10%;
  margin-top: 8%;
}
.footer .FooterBox .footerBox2 .footerBlock1 h5 {
  margin-left: 8%;
  font-weight: normal;
}
.footer .FooterBox .footerBox2 p {
  margin-left: 18%;
  width: 80%;
  margin-top: -5%;
  font-weight: normal;
}
.footer .FooterBox .footerBox2 .footerBlock2 {
  display: flex;
  margin-left: 1%;
  margin-top: -8%;
}
.footer .FooterBox .footerBox2 .footerBlock2 img {
  width: 8%;
  height: 10%;
  margin-top: 8%;
}
.footer .FooterBox .footerBox2 .footerBlock2 a {
  margin-left: 8%;
  color: #ff9a00;
  margin-top: 8%;
}
.footer .FooterBox .footerBox2 .footerBlockALL {
  margin-left: 100%;
  margin-top: -7%;
}
.footer .FooterBox .footerBox2 .footerBlockALL .footerBlockALL2 a {
  color: #ff9a00;
}
.footer .FooterBox .footerBox2 .footerBlockALL .footerBlockALL1,
.footer .FooterBox .footerBox2 .footerBlockALL .footerBlockALL2,
.footer .FooterBox .footerBox2 .footerBlockALL .footerBlockALL3 {
  display: flex;
}
.footer .FooterBox .footerBox2 .footerBlockALL .footerBlockALL1 img,
.footer .FooterBox .footerBox2 .footerBlockALL .footerBlockALL2 img,
.footer .FooterBox .footerBox2 .footerBlockALL .footerBlockALL3 img {
  width: 20px;
  height: 15px;
}
.footer .FooterBox .footerBox2 .footerBlockALL .footerBlockALL1 h5,
.footer .FooterBox .footerBox2 .footerBlockALL .footerBlockALL2 a,
.footer .FooterBox .footerBox2 .footerBlockALL .footerBlockALL3 h5 {
  white-space: nowrap;
}
.footer .FooterBox .footerBox2 .footerBlockALL .footerBlockALL1 h5,
.footer .FooterBox .footerBox2 .footerBlockALL .footerBlockALL3 h5 {
  margin-top: 30%;
}
.footer .FooterBox .footerBox2 .footerIcon {
  margin-left: 210%;
  margin-top: -30%;
  display: flex;
}
.footer .FooterBox .footerBox2 .footerIcon i:nth-child(1) {
  margin-right: 20px;
}
.footer .FooterBox .footerBox2 .footerIcon i:nth-child(2) {
  margin-right: 20px;
}
/* End Footer */
